.ops-bucket {
    height: 23.5rem;
    width: 20%;
    background-color: white;
    overflow-y: scroll;

    &__item {
        padding: 0.2rem;
        cursor: pointer;
    }
    &__label {
        font-size: 1.1rem;
    }
    &--blue {
        background-color: rgb(100, 123, 255);
    }
    &--red {
        background-color: rgb(255, 95, 95)
    }
    &--yellow {
        background-color: rgb(255, 255, 91);
        color: black;
    }
    &--purple {
        background-color: rgb(255, 58, 255);
    }
    &--cyan {
        background-color: cyan;
        color: black;
    }
    &--dark-blue {
        background-color: rgb(0, 0, 168);
    }
    &--green {
        background-color: rgb(42, 143, 42);
    }
}