.property-pane {
    background-color: #191919;
    height: 95%;
    border: 8px solid #262626;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 3px;
    color: white;

    div {
        margin-bottom: 7px;
    }
}   